---
title: "{{title}}"
---

# {{title}}

_By {{author}}_

{{#each highlights}}

<a href="#{{location.value}}" name="{{location.value}}">Location: {{location.value}}</a>

> {{text}}
>
> ~~ _{{../title}}, {{../author}}_ {{#if note}}

{{note}}{{/if}}{{#unless @last}}

---
{{/unless}}{{/each}}